/* Responsive Media Queries */

/* 1. Extra small devices (portrait phones, less than 576px) */
@media screen and (max-width: 576px) {
    img.custom-img {
        margin-top: 7.7rem !important;
        margin-left: -1rem !important;
        width: 40%;
    }
}

/* 2. Small devices (landscape phones, 576px and up) */
@media screen and (min-width: 576px) and (max-width: 768px) {
    img.custom-img {
        margin-top: 5.8rem !important;
        margin-left: -1rem !important;
        width: 40%;
    }
}

/* 3. Medium devices (tablets, 768px and up) */
@media screen and (min-width: 768px) and (max-width: 992px) {
    img.custom-img {
        margin-top: 5.8rem !important;
        margin-left: -1rem !important;
        width: 30% !important;
    }
}

/* 4. Large devices (desktops, 992px and up) */
@media screen and (min-width: 992px) and (max-width: 1192px) {
    img.custom-img {
        margin-top: 5.8rem !important;
        margin-left: -1rem !important;
        width: 24% !important;
    }
}

/* 5. Extra large devices (large desktops, 1200px and up) */
@media screen and (min-width: 1200px) and (max-width: 1400px) {
    /* CSS rules for extra large devices go here */
}

/* 6. Extra extra large devices (larger desktops, 1400px and up) */
@media screen and (min-width: 1400px) {
    /* CSS rules for extra extra large devices go here */
}